<head>
	<meta charset="UTF-8">
	<title>{$Think.config.appname}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="keywords" content="关键词"/>
	<meta name="description" content="网站描述"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<link rel="stylesheet" href="__CSS__/bootstrap.css"/>
	<link rel="stylesheet" href="__CSS__/font-awesome.css"/>
	<link rel="stylesheet" href="__CSS__/jquery-ui.css"/>
	<link rel="stylesheet" href="__CSS__/ace-fonts.css"/>
	<link rel="stylesheet" href="__CSS__/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>
	<script src="__JS__/ace-extra.js"></script>
	<script src="__JS__/jquery.js"></script>
</head>