<script src="__JS__/bootstrap.js"></script>
	<script src="__JS__/bootbox.js"></script>
	<script src="__JS__/ace/elements.scroller.js"></script>
	<script src="__JS__/ace/elements.colorpicker.js"></script>
	<script src="__JS__/ace/elements.aside.js"></script>
	<script src="__JS__/ace/ace.js"></script>
	<script src="__JS__/ace/ace.touch-drag.js"></script>
	<script src="__JS__/ace/ace.sidebar.js"></script>
	<script src="__JS__/ace/ace.sidebar-scroll-1.js"></script>
	<script src="__JS__/ace/ace.submenu-hover.js"></script>
	<script src="__JS__/ace/ace.widget-box.js"></script>
	<script src="__JS__/ace/ace.settings.js"></script>
	<script src="__JS__/ace/ace.settings-rtl.js"></script>
	<script src="__JS__/ace/ace.settings-skin.js"></script>
	<script src="__JS__/jquery-ui.js"></script>
	<script src="__JS__/layer/layer.js"></script>