{layout name="layout"}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/">首页</a>
				</li>
				<li>
					<a href="#">用户及组</a>
				</li>
				<li class="active">用户管理</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<form class="form-inline" id="myform" method="post">
							<a class="btn btn-info" href="{:url('member/add')}">新增</a>
							<label class="inline">用户搜索</label>
							<select name="field" class="form-control">
								<option  value="user">用户名</option>
								<option  value="phone">电话</option>
								<option  value="QQ">QQ</option>
								<option  value="email">邮箱</option>
							</select>
							<input type="text" name="keyword" value="" class="form-control">
							<label class="inline">&nbsp;&nbsp;排序：</label>
							<select name="order" class="form-control">
								<option  value="asc">添加时间升</option>
								<option  value="desc">添加时间降</option>
							</select>
							<button type="submit" class="btn btn-purple btn-sm" >
							<!-- <button type="submit" class="btn btn-purple btn-sm"  onclick="ajaxPost()"> -->
							<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>搜索</button>
						</form>
					</div>
					<div class="row">
						<div class="space-4"></div>							
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center">用户编号</th>
									<th>用户名</th>
									<th>用户组</th>
									<th class="center">性别</th>
									<th class="center">生日</th>
									<th>电话</th>
									<th>Q&nbsp;Q</th>
									<th>邮箱</th>
									<th class="center">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="data" id="val"}
								<tr>
									<td class="center">
										{$val['id']}
									</td>
									<td>{$val['member_name']}</td>
									<td class="grouptd">
										<span class="group" val="1">{$group[$val['group_id']]}</span>											
									</td>
									<td class="center">{$val['sex'] == 1?"男":"女"}</td>
									<td class="center">{$val['birthday']}</td>
									<td>{$val['telphone']}</td>
									<td>{$val['QQ']}</td>
									<td>{$val['email']}</td>
									<td class="center">		
										{if condition="$val['id'] neq 1"}							
										<a href="{:url('member/edit',array('id'=>$val['id']))}">修改</a>&nbsp;|
										<a class="del" href="javascript:;" title="删除" data-id="{$val['id']}">删除</a>													
										{/if}
									</td>
								</tr>
								{/volist}  
							</tbody>
						</table>
						<div style="text-align:center;">{$pager}	</div>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".del").click(function(){
		var obj = $(this);
		var id = $(obj).attr("data-id");
		console.log(id);
		layer.confirm("确定要删除该用户吗?",function(index){	
			$.get('{:url("member/del")}',{mid:id},function(res){
				if (res.code == 1) {
					layer.close(index);
					// $(obj).parent().parent().remove();
					window.location.href=res.url;
				}

			});
		});
	});
	         /*function ajaxPost(){  
	         	alert(1);
                var formData = $("#myform").serialize();  
                console.log(formData);
                //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法  
                $.get('{:url("member/search")}',{data:formData},function(res){
				// if (res.code == 1) {
				// 	// $(obj).parent().parent().remove();
				// 	window.location.href=res.url;
				// }
				alert(res);

			});
            }  */


            // function ajaxPost(){  
            //     var formData = $("#myform").serialize();  
            //     //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法  
            //     $.ajax({  
            //         type:"post",  
            //         url:"{:url('member/search')}",  
            //         data:formData,//这里data传递过去的是序列化以后的字符串  
            //         success:function(data){  
            //             // $("#content").append(data);//获取成功以后输出返回值  
            //             // window.location.href = res.url;
            //             alert(data);
            //         }  
            //     });  
            // }  
</script>
